:root {
    --color-primary: #2C7336;
    --color-secundary: #0DF205;
    --color-tertiary: #BF3604;
}

body {
    padding: 0 1.5rem;
}

img {
    align-items: end;
}

h1 {
    text-align: center;
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-contact {
    display: flex;
    gap: 15px;
    padding: 1rem 0;
}

button {
    border-radius: 0.7rem ;
    width: 8rem;
    height: 3rem;
    background-color: var(--color-primary);
    color: var(--color-secundary);
}

.plans div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
}

.plans {
    padding: 1.5rem 0 0 0;
}
.plans button {
    margin: .3rem;
}

p {
    text-align: center;
    color: black;
}

a {
    color: #707070;
}

.item {
    display: flex;
    padding-top: 3rem;
    gap: 2rem;
}

.item .detail_item h3,h4{
    text-align: start;
    margin: 0rem;
}

.item .detail_item {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 1rem;
}

.item .detail_item h3,p {
    text-align: start;
}

.cars {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
}